div.summerNow div.barSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
    
    /* background-color: var(--bg-color-2);
    padding: 1em;
    border-radius: 1em; */
}

div.summerNow div.barSection div.text {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

div.summerNow div.barSection div.nowText {
    display: none;
    text-align: center;
}


div.summerNow div.infoSection {
    display: flex;
    gap: 1em;
}

div.summerNow div.infoCard {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 50%;
}

div.summerNow div.infoCard div.heading {
    display: block;
    text-align: center;
}

div.summerNow div.infoCard span {
    display: block;
}
div.summerNow div.infoCard span::before {
    content: ' - ';
    color: var(--text-color-2);
}


@media (max-width: 710px) {

    div.summerNow div.barSection div.text {
        font-size: 17px;
    }

}

@media (max-width: 680px) {

    div.summerNow div.infoCard {
        font-size: 15px;
    }

}

@media (max-width: 600px) {

    div.summerNow div.barSection div.nowText {
        display: block;
    }

    div.summerNow div.barSection div.datesText span.now {
        display: none;
    }

    div.summerNow div.barSection div.percentText {
        flex-direction: column;
    }

}

@media (max-width: 540px) {

    div.summerNow div.infoSection {
        flex-direction: column;
    }

}

@media (max-width: 420px) {

    div.summerNow {
        padding: 1.5em 1em;
    }

    div.summerNow div.headingSection {
        font-size: 15px;
    }

    div.summerNow div.barSection div.text {
        font-size: 15px;
    }

}
